.col-1-of-7 {
  width: calc(100%/7);
  position: relative;
  min-height: 1px;
  padding-right: .9375rem;
  padding-left: .9375rem;
  float: left;
}

.dayOfWeek {
  /*composes: col-1-of-7;*/
  background-color: #563d7c;
  color:white;
  font-weight: bold;
  padding: 20px;
}

.columnContainer {
  composes: col-1-of-7;
  text-align: center;
  height: 80vh;
}

.noShowStats {
  text-align: center;
  padding-bottom: 50px;
}
.noShowStats > .numNoShow {
  font-size: 75px;
  font-weight: 700;
}

.noShowStats > .subtextNoShow {

}

.dayPredictions {
  font-size: 14px;
  overflow: scroll;
  max-height: 70%;

}
