.col-1-of-7 {
  width: calc(100%/7);
  min-width: 220px;
  position: relative;
  min-height: 1px;
  padding-right: .9375rem;
  padding-left: .9375rem;
  float: left;
}

.dayOfWeek {
  background-color: #6C7A89;
  color:white;
  font-weight: bold;
  padding: 20px;
}

.columnContainer {
  composes: col-1-of-7;
  text-align: center;
  height: 80vh;
}

.colCentered {
  float:none;
  margin: 0 auto;
}

.listContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.noShowStats {
  text-align: center;
  padding-bottom: 25px;
}
.noShowStats > .numNoShow {
  font-size: 75px;
  font-weight: 700;
}

.noShowStats > .subtextNoShow {

}

.predictionList {
  font-size: 14px;
  overflow-y: scroll;
  height: 90%;
  /*max-height: 90%;*/
}

.predictionListRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tableHeading {
  background-color: #BFBFBF;
  color:white;
  font-weight: bold;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 8px;
  margin-bottom: 8px;
}

.predictionTable {
  margin: auto;
  height:72.5%
}
