.mainContainer {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f7f7f9;
  height:960px;

}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1rem;
}

.loading {
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;

}