.mainContainer {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f7f7f9;
  height:960px;

}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.loading {
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;

}